.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
runs/
*.log
*.sqlite3
.DS_Store
.ipynb_checkpoints/
.vscode/
*.zip
*.egg-info/
dist/
build/
*.txt
knowledge_base/
.github/
.idea/
.cache
tmp/
*.pdf
data/
*.ipynb
.aiexclude